{
  "extends": [
    "@nonsensebb/eslint-config-typescript"
  ],
  "env": {
    "node": true
  },
  "ignorePatterns": [
    "build/"
  ],
  "rules": {
    "no-console": "error",
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "prefer": "type-imports"
      }
    ]
  }
}
